// Place all the styles related to the animes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.layout {
    &-header {
        height: 100px;
        background: pink;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px 30px;
        font-size: 30px;
        color: #000;
        
        a {
            text-decoration: none;
        }

        .layout-header-right {
            display: flex;
            justify-content: space-between;
            align-items: center;

            a {
                text-decoration: none;
            }

            .layout-post {
                margin-left: 3rem;
            }
        }
    }
}

.animes-index {
    max-width: 1200px;
    margin: 100px auto 0;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;


    .content {
        width: 30%;
        margin: 10px;
        border: solid 1px #999;
        border-radius: 4px;

        .title {
            color: pink;
            text-align: center;
        }

        .image {
            width: 100%;
        }

        .container {
            padding: 0 10px;

            p {
                border-bottom: solid 1px #ddd;
            }
        }
    }
}

.anime-search-1 {
    h1 {
        text-align: center;
    }
    .anime-search1 {
        max-width: 960px;
        margin: 0 auto;
        border: solid 1px #aaa;
        text-align: center;
    }
}

.animes-new {
    margin: 50px;
}